html, body {
  margin: 0px;
  padding: 0px;
  display: flex; /* Flexbox for alignment */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #000000, #808080); /* Gradient background */
  height: 100vh; /* Full viewport height */
}

.main-container {
  position:absolute;
  top:30%;
  left:45%;
  margin-top:-50px; /* this is half the height of your div*/  
  margin-left:-100px; /*this is half of width of your div*/

}

.language-select {
  max-width: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  background: rgba(255, 255, 255, 0.85); /* Semi-transparent background */
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Subtle shadow for elevation */
  text-align: center;
  backdrop-filter: blur(10px); /* Glassmorphism effect */
}

.language-select h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #2c3e50;
}

.language-select p {
  font-size: 16px;
  color: #7f8c8d;
  line-height: 1.6;
  margin-bottom: 20px;
}

.language-select p.no-theme {
  color: #e74c3c;
  font-weight: bold;
}

.select-container {
  // margin: 20px 0;
  display: flex;
  justify-content: center;
}

.select-container select {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  background-color: #ecf0f1;
  font-size: 16px;
  color: #34495e;
  transition: all 0.3s ease;
}

.select-container select:hover {
  background-color: #d5d8dc;
  border-color: #95a5a6;
}

.proceed-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #3498db;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.proceed-btn:hover {
  background-color: #2980b9;
}

.proceed-btn:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}
